/*
******************************* 
    GENERAL
*******************************
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  color: #28283d;
}

.container {
  max-width: 200rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
}

.text-highlight--cyan {
  color: #8fe3f9;
}

.text-highlight--purple {
  color: #d9b8ff;
}

/*
******************************* 
    HEADER SECTION
*******************************
*/

.img-logo {
  display: block;
  margin: 8.4rem auto;
}

/*
******************************* 
    HERO SECTION
*******************************
*/

.section-hero {
  margin: 0 auto 20rem auto;
}

.hero-mobile {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

.hero-left,
.hero-right {
  width: 35rem;
}

.hero-right {
  align-self: end;
  justify-self: end;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.8rem;
  line-height: 1.1;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.hero-info p {
  color: #87879d;
  font-weight: 500;
  padding: 1.6rem;
  line-height: 1.5;
}

.heading-primary {
  font-size: 6.4rem;
  font-weight: 900;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3rem;
  border-radius: 100px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn--cyan {
  background-color: #4d96a9;
}

.btn--purple {
  background-color: #855fb1;
}

.btn--cyan:hover,
.btn--cyan:active {
  background-color: #71c0d4;
}

.btn--purple:hover,
.btn--purple:active {
  background-color: #b18bdd;
}

/*
******************************* 
    ABOUT SECTION
*******************************
*/

.section-about {
  margin-bottom: 15rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  padding: 0 2.4rem 0;
  margin-bottom: 4.8rem;
}

.about-img {
  width: 25rem;
  border-radius: 9px;
}

.about-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 53rem;
  margin: 0 auto;
}

.subheading {
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 800;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-weight: 900;
}

.about-text {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #87879d;
  font-weight: 500;
}

/*
******************************* 
    FOOTER SECTION
*******************************
*/

footer {
  background-image: linear-gradient(
      rgba(77, 151, 169, 0.9),
      rgba(77, 151, 169, 0.9)
    ),
    url(../assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 4.6rem;
}

.footer-content {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16rem;
  padding: 6.4rem;
}

.footer-heading {
  font-size: 4rem;
  font-weight: 800;
}

.footer-text {
  font-size: 1.8rem;
}
footer .btn {
  align-self: center;
  justify-self: center;
}

/*
******************************* 
    NUMBER COMPONENT
*******************************
*/

.number {
  text-align: center;
  margin-bottom: 6.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number::before {
  content: "";
  border: 1px solid #87879d49;
  position: absolute;
  top: -8.6rem;
  left: 50%;
  height: 8.4rem;
  transform: translate(-50%);
}

.num {
  font-size: 1.6rem;
  /* display: inline; */
  color: #87879d;
  font-weight: 800;
  border-radius: 50%;
  border: 1px solid #87879d73;
  padding: 2rem 2.2rem;
  background-color: #fff;
}

.num2 {
  margin-bottom: -1.8rem;
  z-index: 1;
}
